.content {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.leftContent {
    width: 280px;
}

.rightContent {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}