.acciones {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    position: relative;
    z-index: 1;
    margin-top: 50px;
    max-width: 300px;
    min-width: 250px;
}

.acciones button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    padding: 10px;
}

.acciones button:hover {
    transform: scale(1.2);
}

.acciones .no {
    background-color: rgba(255, 0, 0, 0.8);
}

.acciones .like {
    background-color: rgba(0, 128, 0, 0.8);
}

.acciones .super {
    background-color: rgba(255, 192, 203, 0.85);
}